body{
    background-image:linear-gradient(white,rgb(192, 236, 238),rgb(119, 201, 173),rgb(85, 156, 144),rgb(16, 100, 121),rgb(4, 43, 58),rgb(3, 30, 34)) ;
}

h1{
    color:black;
    background-color :rgb(111, 163, 155);
    font-family: 'Yellowtail', cursive;
}

#show_sketch{
    float:right;
}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name:example;
    animation-duration:4s;
    margin-top:50px;
    animation-iteration-count:infinite;
}

@keyframes example {
    from{box-shadow:1px 1px 38px black;}
    to{box-shadow:1px 1px 38px rgb(111, 163, 155);}
}

p{
    padding-top:10px;
    font-size:25px;
}